/* Chat.css */

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px; /* Adiciona espaçamento entre as colunas */
}

th, td {
  border: 1px solid #dddddd74;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f213;
}

td {
  white-space: pre-line; /* Preserve quebras de linha nas mensagens de alerta */
}

tr:nth-child(even) {
  background-color: #f9f9f96c;
}

table, th, td {
  margin: 20px 0;
}
